*{
    background-color: black;
}
h1, h2{
    color: aliceblue;
 
    text-align: center;
    
}
.img{
    position:relative;
    left: 34%;
    bottom: 90%;
    
    margin-top: 0px;
}
iframe{
    position:relative;
    left: 30%;
    bottom: 90%;
    
    margin-top: 0px;
}

.seta{
    position:relative;
    left: 50%;
    bottom: 90%;
    margin-left: px;
    margin-top: 30px;
}

a:link {
    text-decoration: none;
}