@charset "UTF-8";

/*
.color1 { #3b234a };roxo
.color2 { #523961 }; roxo medio
.color3 { #baafc4 };roxo claro
.color4 { #c3bbc9 };cinza
.color5 { #d4c7bf }; marron beje
*/
:root {
    --color1:#3b234a ;
    --color2:#523961 ; 
    --color3:#baafc4 ;
    --color4:#c3bbc9 ;
    --color5:#d4c7bf ; 
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    width: 90vw;
    height: 90vh;
    text-align: center;
    background-color: var(--color3);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;    
  
}

main > button {
    display: flex;
}

h1 {
    margin: center;
}

input#texto{
    width: 70vw;
    height: 25px;
    margin-top: 20px;
}

div#nac {
    background-color: #e8dfee;
    margin: 15px;
    
}

button {   
    width: 110px;
    height: 60px;
    margin-top: 80px;
    
    
    
}

button#chave {
    display: block;
}

@media screen and (min-width: 768px) {
    main {
        width: 800px;
    }
    input#texto {
        width: 700px;
    }
    main > button {
        display: flex;
    }

    button {
        margin-top: 250px;
    }
}
