* {
   
}

body {
    background-color: rgb(69, 69, 69);
    font: 16pt arial;
}

main {
    background-color: white;
    max-width: 800px;
    min-width: 280px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}

h1 {
    color: rgb(16, 165, 95);
    text-align: center;
}

h2 {
    color: rgb(7, 161, 84);
}

aside {
    display: block; 
    font-size: 13pt;
    text-align: justify;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a, a:visited {
    color: rgb(34, 34, 34);
    font-weight: bolder;
}

.titulo {
    
    font-weight: 600;
   

    
    
}

.mostrar{
    display: none;
   
}


button {
    border: none;
    background-color:white;
    font-size: 1em;
    font-weight: 600;
}
